 /* about us section */
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10px;
    gap: 50px;
    background-color: rgb(158, 92, 158);
}
/* left side */
.about-text{
    flex: 1;
    width: 50%;
    padding: 0 20px;
    }
    .about-text h4{
     color: purple;
     padding-bottom: 12px;
     letter-spacing: 2px;
     font-size: 45px;

    }
    .about-text h3{
        font-size: 35px;
        margin-bottom: 20px;
 }
.about-text p{
    font-size: 20PX;
    line-height: 1.8;
    margin-bottom: 25px;
    color: white;
    }
    .about-text .btn{
        display: inline-block;
        text-decoration: none;
        background-color: purple;
        padding: 15px 25px;
        border-radius: 20px;
        color: white;
    }

        .about-text .btn:hover{
            background-color: black;
        }
        .about-text ul{
            list-style: none;
            padding-bottom: 30px;
        }
        .about-image{
            flex: 1;}
            .about-image img{
                width: 100%;
                border-radius: 50%;
            }
             /* about reposiveness */
                         @media (max-width: 768px) {
                            .about {
                                flex-direction: column;
                                padding: 60px 7%;
                                gap: 35px;
                            }
                            .about-text {
                                width: 100%;
                            }
                            .about-text h2 {
                                font-size: 36px;
                            }
                            .about-text p {
                                font-size: 17px;
                            }
                            .about-image {
                                width: 80%;
                            }
                         }
                         @media (max-width: 480px) {
                            .about {
                                padding: 50px 6%;
                                gap: 25px;
                            }
                               .about-text h4 {
                                font-size: 14px;
                               }
                               .about-text h2 {
                                font-size: 30px;
                             }
                             .about-text p {
                                font-size: 16px;
                                line-height: 1.6;
                             }
                             .about-text ul {
                                padding-bottom: 20px;
                             }
                             .about-image {
                                width: 100%;
                             }
                             .about-text .btn{
                                padding: 12px 25px;
                             }
                                }