section header{
    display: flex;
    justify-content: right;
    background-color: black;
    height:6.6vh;
    width: 100%;
    position: fixed;
}
.nav-link-text{
    margin-top: auto; margin-bottom: auto;
    padding-right: 10px;
}
header .nav-link-text a{
    color:azure;
    text-decoration: none;
}
header .nav-link-text a:hover{
    background-color: purple;
    border-radius: 10%;
    color: black;}
    /* HEADER RESPONSIVENESS */
                 @media(max-width: 768px) {
                    section header{
                        justify-content: center;
                        height: 60px;
                    }
                    .nav-links-text{
                        padding-right: 8px;
                        padding-left: 8px;
                    }
                 }
                 @media(max-width:480px) {
                    section header{
                        height: auto;
                        min-height: 60px;
                        flex-wrap: wrap;
                        padding: 18px 0;
                    }
                    .nav-links-text{
                        padding: 5px 8px;
                    }
                    header .nav-links-text a{
                        font-size: 14px;
                    }
                 }