header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  height: 6.6vh;
  width: 100%;
}

.nav-link-text {
  padding-right: 10px;
}

.nav-link-text a {
  color: azure;
  text-decoration: none;
}

.nav-link-text a:hover {
  background-color: purple;
  border-radius: 10%;
  color: black;
}

/* HEADER RESPONSIVENESS */
@media (max-width: 768px) {
  header {
    justify-content: center;
    height: 60px;
  }

  .nav-link-text {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (max-width: 480px) {
  header {
    height: auto;
    min-height: 60px;
    flex-wrap: wrap;
    padding: 18px 0;
  }

  .nav-link-text {
    padding: 5px 8px;
  }

  header .nav-link-text a {
    font-size: 14px;
  }
}
