 /* testimony section */
            .Testimonials{
                padding: 20px 7.3%;
                text-align: center;
                background-color: rgb(158, 92, 158)}
                
                
                

                .Testimonials h1{
                    color: white;
                    margin-bottom: 12px;
                    letter-spacing: 2px;
            
                }
                  .Testimonials h2{
                   font-size: 20px;
                   margin-bottom: 50px;
                  }
                  /* flexbox */
                  .testimonial-container{
                    display: flex;
                    justify-content: space-between;
                    gap: 16px;
                  }
                  /* card */
                  .testimonial-container .card{
                    flex: 1;
                    background-color: white;
                    padding: 30px;
                    box-shadow: 0 5px 15px rgba(0, 0,0, 0.2,);
                  }
                .testimonial-container .card img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    padding-bottom: 20px;
                    transition: all 0.3 ease;
                }
                 .testimonial-container .card:hover{
                    transform: scale(1.07);
                    box-shadow: 0.15px 15px 35px rgba(0, 0, 0,0.25);
                    cursor: pointer;
                 }
                    .testimonial-container .card h3{
                        margin-bottom: 15px;
                    }
                    .testimonial-container .card p{
                        text-align: left;
                        color: purple;
                        line-height: 1.3;
                    }
                    /* TESTIMONIAL RESPONSIVENESS */
                                @media (max-width: 768px) {
                                    .Testimonials {
                                        padding: 60px 6%;
                                    }
                                    .Testimonials h2 {
                                      font-size: 32px;
                                        margin-bottom: 35px;
                                    }
                                    .testimonial-container {
                                        flex-direction: column;
                                        gap: 25px;
                                    }
                                    .testimonial-container .card {
                                        width: 100%;
                                        box-sizing: border-box;
                                    }
                                      .testimonial-container .card img {
                                        height: 390px;
                                      }
                                    }
                                    @media (max-width: 480px) {
                                        .Testimonials {
                                            padding: 50px 5%;
                                        }
                                            .Testimonials h1 {
                                                font-size: 14px;
                                            }
                                            .Testimonials h2 {
                                                font-size: 27px;
                                                margin-bottom: 30px;
                                            }
                                            .testiomonial-container {
                                                gap: 20px;
                                            }
                                             .testimonial-container .card{
                                                padding: 20px;
                                             }
                                             .testimonial-container .card img{
                                                height: 280px;
                                             }
                                             .testimonial-container .card h3{
                                                font-size: 20px;
                                             }
                                             
                                             .testimonial-container .card p{
                                                font-size: 15px;
                                             }
                                    }